---
import { buttonVariants } from "@/components/ui/button";
import { siteConfig } from "@/config/site";
import MainLayout from "@/layouts/main-layout.astro";
import { cn } from "@/lib/utils";
import Icon from "astro-icon";
---

<MainLayout title="Nudibranches technologies ">
  <section class="space-y-6 pb-12 pt-16 lg:py-28">
    <div
      class="container flex max-w-[64rem] flex-col items-center gap-5 text-center"
    >
      <a
        href="https://www.linkedin.com/company/nudibranches-technologies/"
        class={cn(buttonVariants({ variant: "outline", size: "sm" }))}
        target="_blank"
      >
        Follow along on <Icon name="linkedin" class="ml-2 size-4" />
      </a>
      <h1
        class="font-heading text-4xl font-bold sm:text-5xl md:text-6xl lg:text-7xl !leading-[1.1] text-balance"
      >
        Friction less and secure data platform using
        <span class="text-gradient_indigo-purple"> Hyperfluid.</span>
      </h1>

      <p
        class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8 text-balance"
      >
        Designed for the AI revolution.
      </p>

      <div class="flex justify-center space-x-2 md:space-x-4">
        <a
          href="/docs/getting-started/"
          class={cn(buttonVariants({ size: "lg" }))}
        >
          Get Started
        </a>
        <a
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          class={cn(buttonVariants({ variant: "outline", size: "lg" }), "px-4")}
        >
          <Icon name="github" class="mr-2 size-5" />
          Github
        </a>
      </div>
    </div>
  </section>
  <div class="mx-auto text-center md:max-w-[58rem]">
    <p
      class="leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
    >
      Insert hyperfluid overview.
    </p>
  </div>
  <section
    id="features"
    class="container space-y-10 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24"
  >
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
    >
      <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
        Features
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
        This project is a comprehensive set of services designed to enhance AI
        capabilities within organizations.
      </p>
    </div>
    <div
      class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
    >
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 512 512"
            ><path
              d="M468.7 64H43.3c-6 0-11.3 5-11.3 11.1v265.7c0 6.2 5.2 11.1 11.3 11.1h425.4c6 0 11.3-5 11.3-11.1V75.1c0-6.1-5.2-11.1-11.3-11.1zM448 320H64V96h384v224z"
              fill="currentColor"></path><path
              d="M302.5 448c28-.5 41.5-3.9 29-12.5-12.5-8.7-28.5-15.3-29-22.5-.3-3.7-1.7-45-1.7-45h-89.6s-1.5 41.3-1.7 45c-.5 7.1-16.5 13.8-29 22.5s1 12 29 12.5h93z"
              fill="currentColor"></path></svg
          >

          <div class="space-y-2">
            <h3 class="font-bold">Data Platform Audit</h3>
            <p class="text-sm text-muted-foreground">
              Moving to the AI world requires high data maturity. Make you
              confident in your future is our mission.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M17 3h4a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h4V1h2v2h6V1h2zM4 9v10h16V9zm2 2h2v2H6zm5 0h2v2h-2zm5 0h2v2h-2z"
            ></path></svg
          >

          <div class="space-y-2">
            <h3 class="font-bold">Data Platform Operation</h3>
            <p class="text-sm text-muted-foreground">
              All AI journeys start with a versatile data platform. We help you
              to design and operate a cutting-edge one.
            </p>
          </div>
        </div>
      </div>
      <div class="relative overflow-hidden rounded-lg border bg-background p-2">
        <div class="flex h-[180px] flex-col justify-between rounded-md p-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 512 512"
            ><path
              fill="currentColor"
              d="M202.24 74C166.11 56.75 115.61 48.3 48 48a31.36 31.36 0 0 0-17.92 5.33A32 32 0 0 0 16 79.9V366c0 19.34 13.76 33.93 32 33.93c71.07 0 142.36 6.64 185.06 47a4.11 4.11 0 0 0 6.94-3V106.82a15.89 15.89 0 0 0-5.46-12A143 143 0 0 0 202.24 74m279.68-20.7A31.33 31.33 0 0 0 464 48c-67.61.3-118.11 8.71-154.24 26a143.31 143.31 0 0 0-32.31 20.78a15.93 15.93 0 0 0-5.45 12v337.13a3.93 3.93 0 0 0 6.68 2.81c25.67-25.5 70.72-46.82 185.36-46.81a32 32 0 0 0 32-32v-288a32 32 0 0 0-14.12-26.61"
            ></path></svg
          >

          <div class="space-y-2">
            <h3 class="font-bold">Training & Coaching</h3>
            <p class="text-sm text-muted-foreground">
              Humans are your core assets to achieve your vision. Our mission is
              to stuff them with the appropriate data knowledge.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto text-center md:max-w-[58rem]">
      <p
        class="leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
      >
        This website also includes a blog and a full-featured documentation.
      </p>
    </div>
    <section id="open-source" class="container pt-8 md:pt-12 lg:pt-28">
      <div
        class="mx-auto flex max-w-[58rem] flex-col items-center justify-center gap-4 text-center"
      >
        <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
          Proudly Open Source
        </h2>
        <p
          class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
        >
          Nudibranches is open source and powered by open source software. <br
          />{" "}
          The code is available on{" "}
          <a
            href={siteConfig.links.github}
            target="_blank"
            rel="noreferrer"
            class="underline underline-offset-4"
          >
            GitHub
          </a>
          .
        </p>
      </div>
    </section>
  </section>
</MainLayout>
